#mainLayout{
	background-image: url("https://www.socpk.com/LOGO/gkwlogo.png");
	max-width:1500px;
	margin:0 auto;
	background-attachment:fixed
}

@font-face {
	font-family:font2;
	src: url(https://www.socpk.com/fonts/Manrope-Medium.ttf);
	
}




.data{
	border-collapse: collapse;
	text-align:center;
	width:90%;
}

.socName{
	width:200px;
	text-align:right;
	padding-right:10px;
}

.socName a{
	text-align:right;
	color:#BBBBBB;
	font-family:font2;
	text-decoration: none;
	cursor: pointer;
}


.floatBtn{
	position: fixed;	      
    bottom: 5%;		
    right: 5%;	

}

.logo{
	width:50px;
}

.logo img{
	width:55px;
	padding:0 8px;
	vertical-align:middle;
}


.ratioBar {
    width: 100%;
    text-align: left;
}

	

.ratio {
    height: inherit;
	position:relative;
    border-radius: 0 20px 20px 0;
    background: #1ED76D;
	animation-name: barAnmi;
	animation-duration: 1s;
	transition-timing-function: ease-in;
	/*background: linear-gradient(to left, #01D2FF , #3A7CD6);*/
	transition:0.4s;
	text-align:right;
	font-family:font2;
	color: white;

}

.ratio2 {
    height: inherit;
    border-radius: 0 20px 20px 0;
    background: #1ED76D;
	animation-name: barAnmi;
	animation-duration: 1s;
	transition-timing-function: ease-in;
	/*background: linear-gradient(to right, #000000 , #3A7CD6 20%);*/
	transition:0.4s;
	text-align:right;	
	font-family:font2;
    
}
.ratio2 a{
    position:absolute;
	padding-left:5px;
	text-align: left;
	color:#FFFFFF;	
	font-family:font2;
}

.model{
    padding-top:2px;
    text-align: left;
    position: absolute;
    padding-left:5px;
    color: #AAAAAA;
    text-decoration: none;
    font-family:font2;
    cursor:pointer;
    
}

.downBtn{
	text-decoration:none;
	color:white;
	border: 2px solid white; 
	cursor:pointer;
	/*background:#17E8E0;*/
	padding:6px 2%;	
	margin:0 2%;
	border-radius:120px; 
	font-weight: bold;
		}
        	
.downBtn:hover{
	background:#FFC000;
}

        	
.downBtn:hover{
	background:#FFC000;
}

#btn1:hover{
	background:#FFC000;
	/*color: black;*/
}
#btn2:hover{
	background:#ED7D31;
}

@keyframes barAnmi{
	0%   {width: 0%}
}

#caption{
	text-align:center;
	letter-spacing: 3px;
	font-size:60px;
	margin:50px 100px 0 100px;
	color:#FFFFFF;
	font-weight: bold;
} 

#notice{
	text-align:center;
	margin-top:15px;
	color:#C1C1C1;
} 



.info{
	/* position:absolute; */
	width:200px;
	display: block;
	margin:100px auto 0 auto;
}

#author{
	/* position:absolute; */
	color:#666666;
	display: block;
	text-align:center;
	margin-bottom:100px;
	font-size:16px;
	width:200px;
}

.ratioLine{
	height:0px;
	background:black;
	position:inherit;
	font-family:font2;
	
}


.ratioLineHeight{
	width:1px;
	background:#444444;
	position:parent;
	margin-left:100%;
	color:#BBBBBB;
	font-size: 20px;

}






